@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #efe6df;
    line-height: 1.7;
    background-image: url(../src/Images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* --- */


h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

a {
    transition: var(--transition);
}

a:hover {
    color: #fff;
}


/* page */

.nav-bar {
    display: flex;
    background: #bea48c;
    padding: 20px 0;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 16px;    
}

.nav-bar a {
    color: #153139;
}

.nav-bar a:hover {
    color: white;
}

.nav-bar a.active {
    color: white;
}

footer {
    background: #153139;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #EFE0D3;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: #EFE0D3;
    color: #153139;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: #EFE0D3;
    border-color: #EFE0D3;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: #EFE0D3;
}

/* --- */

/* home */

.home-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
    border: 1px solid #11222A;
    border-radius: 10px;    
    text-align: center;
    color: #11222A;
    background-color: #EFE0D3;
}

.learn-more-btn {
    margin-top: 30px;
    padding: 15px;
    background-color: #153139;
    border-radius: 5px;
}

.learn-more-btn a {
    color: #fff;
}

.experience-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color:#11222A;
}

.experience-container > div {
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience-container > div:hover {
    background: transparent;
    border-color: #11222A;
    cursor: default;
}

.experience-container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #11222A;
}

.experience-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
}

.experience-details-icon {
    margin-top: 6px;
    color: #11222A;
}


/* portfolio */

section {
    margin-top: 1.5rem;
}

.portfolio {
 width: 80%;
 margin-left: 10%;
}

.portfolio-div-title {
    width: 30%;
    margin-left: 35%;
    border-bottom: 2px solid #EFE0D3;
    margin-bottom: 2.5rem;
}

.portfolio-div-title h2 {
    padding-top: 25px;
    color: #EFE0D3;
    text-align: center;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-bottom: 20px;
}

.portfolio-item {
    background-color: #EFE0D3;
    padding: 1.2rem;
    color: #11222A;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover {
    border-color: #EFE0D3;
    background: transparent;
    color: #EFE0D3;
}

.portfolio-item-image {
    border-radius: 10px;
    width: 100px;
    overflow: hidden;
}

.portfolio-item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio-item-git {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio-btn {
    width: max-content;
    display: inline-block;
    color: #EFE0D3;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #11222A;
    background: #153139;
}

.portfolio-btn:hover {
    background: #EFE0D3;
    color: #153139;
    border-color: transparent;
}

/* --- */



/* contact */

.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 55px 20px;
    color: #11222A;
    border: 1px solid #11222A;
    border-radius: 10px;   
    background-color: #EFE0D3; 
}

.contact-div h2 {
    margin-bottom: 30px;
}

.phone {
    margin: auto;
    display: flex;  
    align-items: center;  
    gap: 5px;
}

.email {
    margin-top: 10px;
    margin: auto;
    display: flex;  
    align-items: center;  
    gap: 5px;
}

.email a {
    color: #11222A;
}






