@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.7;
}

/* --- */


h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

a {
    transition: var(--transition);
}

a:hover {
    color: #fff;
}


/* page */

.nav-bar {
    display: flex;
    background: #bea48c;
    padding: 20px 0;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 16px;    
}

.nav-bar a {
    color: #3c2814;
}

.nav-bar a:hover {
    color: white;
}

.nav-bar a.active {
    color: white;
}

footer {
    background: #bea48c;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
}

footer a {
    color: #3c2814;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: #3c2814;
    color: #fff;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: #3c2814;
    border-color: #3c2814;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: #3c2814;
}

/* --- */

/* home */

.home-container {
    width: 50%;
    height: 300px;
    margin-left: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 35px;
    border: 1px solid rgb(122,100,85);
    border-radius: 10px;    
    text-align: center;
    color: #3c2814;
}

.learn-more-btn {
    margin-top: 30px;
    padding: 15px;
    background-color: #3c2814;
    border-radius: 5px;
}

.learn-more-btn a {
    color: #fff;
}


/* portfolio */

section {
    margin-top: 1.5rem;
}

section > h2, 
section > h5 {
    text-align: center;
    color: #3c2814;
}

section > h2 {
    color: #3c2814;
    margin-bottom: 3rem;
}
.portfolio {
 width: 80%;
 margin-left: 10%;

}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-bottom: 20px;
}

.portfolio-item {
    background: #dacbbd;
    padding: 1.2rem;
    color: #3c2814;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover {
    border-color: #3c2814;
    background: transparent;
}

.portfolio-item-image {
    border-radius: 10px;
    width: 100px;
    overflow: hidden;
}

.portfolio-item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio-item-git {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio-btn {
    width: max-content;
    display: inline-block;
    color: #3c2814;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid #3c2814;
    transition: var(--transition);
}

.portfolio-btn:hover {
    background: #3c2814;
    color: #fff;
    border-color: transparent;
}

/* --- */



/* contact */

.experience-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color:#3c2814;
}

.experience-container > div {
    background: #bfa58e;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience-container > div:hover {
    background: transparent;
    border-color: #3c2814;
    cursor: default;
}

.experience-container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #3c2814;
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
}

.experience-details-icon {
    margin-top: 6px;
    color: #3c2814;
}

.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    color: #3c2814;
}

.contact-div h2 {
    margin-bottom: 30px;
}

.phone {
    margin: auto;
    display: flex;  
    align-items: center;  
    gap: 5px;
}

.email {
    margin-top: 10px;
    margin: auto;
    display: flex;  
    align-items: center;  
    gap: 5px;
}

.email a {
    color: #3c2814; 
}






